* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: rgb(16, 0, 104);
    color: rgb(255, 255, 255);
}

.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

header{
    background-color: rgb(18, 0, 99);
    padding: 20px;

    
}

header nav li{
    display: inline;
}

header img {
    width: 122px;
}

header input {
    border-radius: 20px;
    padding: 5px 15px ;
    width: 120px;
}

header i {
    margin-left: 1ch;
}

header a {
    padding: 10px;
    background-color: aliceblue;

}


video {
    width: 100%;
}

img{
    width:100%;
}

h2{
    color: rgb(255, 255, 255);
}
